.buttonContainer {
  margin-top: 15%;
  display: flex;
  width: 70vw;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 4%;
  border-radius: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
}

@value purple: rgba(194, 190, 255, 0.99);
@value yellow: rgba(255, 225, 193, 0.89);
@value red: rgba(255, 195, 212, 0.89);
@value cyan: rgba(175, 255, 248, 0.87);

.button:nth-child(1) {
  border: 0.1rem solid purple;
  color: purple;
}

.button:nth-child(2) {
  border: 0.1rem solid yellow;
  color: yellow;
}

.button:nth-child(3) {
  border: 0.1rem solid red;
  color: red;
}

.button:nth-child(4) {
  border: 0.1rem solid cyan;
  color: cyan;
}

.button:nth-child(5) {
  border: 0.1rem solid purple;
  color: purple;
}

.button:nth-child(6) {
  border: 0.1rem solid cyan;
  color: cyan;
}

.button:hover {
  filter: brightness(1.12);
}

.button:active {
  filter: brightness(0.8);
}