.buttonContainer {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  width: 75vw;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  border-radius: 0.6rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.45rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: default;
  font-size: 1.3rem;
  text-decoration: none;
  border: none;
  color: var(--functionButtonText);
  background-color: var(--functionButton);
}

.button:hover {
  filter: brightness(1.07);
}

.button:active {
  filter: brightness(0.94);
}

@media only screen and (max-width: 500px) {
  .button {
    transform: scale(0.8);
  }

  .buttonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    width: 99vw;
  }
}
