.buttonContainer {
  margin-top: 6rem;
  margin-bottom: 4rem;
  display: flex;
  width: 75vw;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  border-radius: 0.8rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0.45rem;
  cursor: default;
  font-size: 1.17rem;
  text-decoration: none;
  border: 0.1rem solid var(--purple);
  color: var(--purple);
}

.button:hover {
  filter: brightness(1.07);
}

.button:active {
  filter: brightness(0.94);
}

@media only screen and (max-width: 500px) {
  .button {
    transform: scale(0.8);
  }

  .buttonContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.5rem;
    width: 99vw;
  }
}