.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.title {
  cursor: default;
  margin-top: 13rem;
  margin-bottom: 9rem;
  font-size: 4.2rem;
  background-image: var(--titleGradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 4rem;
  }
}