.backButton {
  cursor: default;
  font-size: 3rem;
  color: var(--white);
  text-decoration: none;
  margin-right: 0.3rem;
}

.backButton:hover {
  filter: brightness(1.12);
}

.backButton:active {
  filter: brightness(0.8);
  transform: scale(0.99);
}

@media only screen and (max-width: 600px) {
  .backButton {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .backButton {
    transform: scale(0.8);
  }
}