:root {
  --background: rgba(30, 34, 47, 1);
  --purple: rgba(194, 190, 255, 1);
  --yellow: rgba(255, 225, 193, 0.88);
  --red: rgba(255, 195, 212, 0.87);
  --cyan: rgba(175, 255, 248, 0.86);
  --text: rgba(184, 206, 234, 1);
  --backButton: rgba(184, 206, 234, 0.9);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 450;
  user-select: none;
  color: rgb(231, 239, 255);
  background-color: rgb(30, 34, 47);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}