:root {
  --background: rgb(26, 31, 46);
  --purple: rgb(191, 193, 255);
  --white: rgba(187, 201, 230, 1);
  --linkHighLight: var(--purple);
  --linkHighLightText: rgb(0, 0, 0);
  --titleGradient: linear-gradient(to right, var(--white), var(--purple));

  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 450;
  user-select: none;
  color: rgb(231, 239, 255);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}
